body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f5f5bb;
}

.header {
    display: flex;
    background-color: #424d41;
    justify-content: space-between;
    /* border: solid red; */
}

.headerLogoPNG {
    height: 70px;
    width: 70px;
    padding: 10px;
    align-self: flex-end;
    margin-left: 200px;
}

.headerLinks {
    display: flex;
    flex-direction: row-reverse; 
    align-items: flex-end;
    gap: 20px;
    /* margin-left: 350px; */
    padding: 10px;
    font-size: 30px;
    margin-right: 200px;
}

a {
    color: #99ae98;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #879c84;
}

.headerText {
    /* display: flex;
    align-items: center;
    justify-content: stretch;
    margin-left: 500px; */
    font-size: px;
    color: #99ae98;
    font-weight: bolder;
}

.section-one {
    background-color: #c4c496;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.s1h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #424d41;
    padding-top: 50px;
    padding-bottom: 10px;
    font-weight: 500;
    max-width: 700px;
    margin-left: 200px;
    margin-right: 20px;
    
}

.s1h4 {
    margin-left: 200px;
    font-size: 18px;
    color: #424d41;
}

.s1Img {
    padding: 20px;
    height: auto;
    max-width: 552px;
    margin-right: 200px;
}

.s1btn {
    margin-left: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f5f5bb;
    border: none;
    color: #424d41;
    border: solid #424d41;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.s1btn:hover {
    margin-left: 200px;
    margin-top: 20px;
    background-color: #424d41;
    border: none;
    color: #f5f5bb;
    border: solid #f5f5bb;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.section-two {
    background-color: #f5f5bb;
}

.s2h1 {
    text-align: center;
    font-size: 36px;
    color: #424d41;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 500;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0px;
    margin-left: 200px;
    margin-right: 200px;
}

.c1img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 25px;
    border: solid #424d41;
    border-width: 5px;
    box-shadow: 5px 5px 10px #ddfedb; 
}

.c2img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 25px;
    border: solid #424d41;
    border-width: 5px;
    box-shadow: 5px 5px 10px #ddfedb; 
}

.c3img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 25px;
    border: solid #424d41;
    border-width: 5px;
    box-shadow: 5px 5px 10px #ddfedb; 
}

.c4img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 25px;
    border: solid #424d41;
    border-width: 5px;
    box-shadow: 5px 5px 10px #ddfedb; 
}

.s2h4 {
    text-align: center;
    max-width: 200px;
    padding-bottom: 25px;
}

.section-three {
    background-color: #424d41;
}

.s3Text {
    padding: 20px;
    margin-left: 300px;
    margin-right: 300px;
    color: #d4ddd3;
}

.s3p1 {
    text-align: left;
    font-weight:100;
    font-size: 36px;

}

.s3p2 {
    text-align: right;
    margin-right: 200px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.s4Text {
    background-color: #c4c496;
    border-radius: 5px;
    margin: 25px;
    padding: 20px;
    width: 700px;
    height: auto;
}

.s4h1 {
    padding-bottom: 5px;
    font-weight: bold;
}

.s4h4 {
    font-weight: 100;
    padding-bottom: 5px;
}

.s4btn {
    margin-top: 5px;
    background-color: #f5f5bb;
    border: none;
    color: #424d41;
    border: solid #424d41;
    padding: 5px 12.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.s4btn:hover {
    background-color: #424d41;
    border: none;
    color: #f5f5bb;
    border: solid #f5f5bb;
    padding: 5px 12.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.footer {
    background-color: #424d41;
    color: #f5f5bb;
    text-align: center;
    padding: 10px;
}